* {
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-color: rgb(52, 63, 80);
}

.head {
  border: 4px solid #000;
  width: 90px;
  height: 90px;
  position: relative;
  background-color: #f5b870;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.left-eye {
  position: absolute;
  left: 50px;
  top: 30%;
  /*transform: translateY(-50%); */
  /*border: 10px solid black; */
  outline: auto white;
  /* -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%); */
  animation: wink 0.6s linear 0.3s infinite;
}
.left-eyebrows {
  top: 18px;
  left: 50px;
  width: 25px;
  height: 3px;
  background-color: black;
  position: absolute;
}
.right-eyebrows {
  top: 18px;
  right: 50px;
  width: 25px;
  height: 3px;
  background-color: black;
  position: absolute;
}
.right-eye {
  position: absolute;
  right: 50px;
  top: 30%;
  animation: wink 0.6s linear 0.3s infinite;
}
@keyframes wink {
  0%,
  40% {
    border: 0;
    outline: 0;
    border-radius: 0;
    width: 25px;
    height: 5px;
    background-color: white;
  }
  41%,
  100% {
    outline: auto;
    border-width: 5px 10px;
    border-style: solid;
    border-color: black;
    width: 0;
    height: 0;
    border-radius: 0 0 50% 50%;
  }
}
.head{
  width: 90px;
  height: 90px;
  display: flex;
}
.mouth {
  position: absolute;
  width: 35px;
  height: 15px;
  left: 50%;
  right: 25px;
  outline: auto #000;
  top: 80%;
  background-color: rgb(255 110 119);
  border-top-right-radius: 0 0;
  border-top-left-radius: 0 0;
  border-bottom-left-radius: 50% 100%;
  border-bottom-right-radius: 50% 100%;
  transform: translate(-50%, -50%);
}
div.head:hover .right-eyebrows {
  position: absolute;
  transform: skewY(15deg);
}
div.head:hover .left-eyebrows {
  position: absolute;
  transform: skewY(-15deg);
}
div.head:hover .mouth {
  height: 25px;
  width: 25px;
  border-radius: 0;
  background-color: rgb(255 110 119);
}
div.head:hover .left-eye{
  animation: angry-eyes 1s linear 0.3s infinite;
}
div.head:hover .right-eye{
  animation: angry-eyes 1s linear 0.3s infinite;
}
@keyframes angry-eyes{
  0%,
  40% {
    border: 0;
    outline: 0;
    border-radius: 0;
    width: 25px;
    height: 5px;
    background-color: white;
  }
  41%,
  100% {
    outline: auto;
    border-width: 10px;
    border-style: solid;
    border-color: black;
    width: 0;
    height: 0;
  }
}
div.dynamic-text{
  background-color: white;
  border: 3px solid black;
  top: -30%;
  left: 90%;
  position: absolute;
  width: 290px;
  height: 55px;
  display: none;
}
p:not(p:nth-child(2)){
  width: 300px;
  height: 20px;
  position: absolute;
  top: -200%;
  right: -105%;
  display: none;
}
.head:hover p.YAMTWPA{
  display: block;
}
.head:hover div.dynamic-text{
  display: block;
}
p:nth-child(2){
  position: absolute;
  left: 2%;
  top: -70%;
  height: 20px;
  width: 69px;
}
.hover{
  position: absolute;
  top: 50%;
  left: 60%;
  border: 2px solid black;
  background-color: #726c6c;
  height: 25px;
  width: 75px;
}
.hover:hover p:not(p:nth-child(3)){
  visibility: hidden;
}
.hover:hover{
  background-color: transparent;
  position: absolute;
}
.hover:hover p:nth-child(3){
  display: block;
}